body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: coral;
}

.article {
    border-bottom: 1px solid antiquewhite;
    padding: 10px 0;
}

.pagination {
    margin-top: 20px;
    font-size: x-large;
}

.pagination button {
    margin-right: 5px;
}
